<div class="stopwatch">
  <div class="stopwatch-label" [ngClass]="{blink: !isPaused}">
    <span>{{ hours }}:</span>
    <span>{{ minutes }}:</span>
    <span>{{ seconds }}</span>
  </div>
  <div class="stopwatch-button-container">
    <button class="stopwatch-button" mat-raised-button *ngIf="isStarted; else stop" (click)="startTimer()">
      Start
    </button>
    <ng-template #stop>
      <button class="stopwatch-button" mat-raised-button (click)="stopTimer()">Stop</button>
    </ng-template>
    <button class="stopwatch-button" mat-raised-button (dblclick)="pauseTimer()">Wait</button>
    <button class="stopwatch-button" mat-raised-button (click)="resetTimer()">Reset</button>
  </div>
</div>
